body{
    background-image: url(./background.jpg);
    margin: 0px;
    display: flex;
    justify-content: center;
}

div.calculator{
    margin-top: 50px;
    margin-left: 50px;
    background: gray;
    height: 600px;
    max-width: 400px;
    flex: 1;
    border: 5px solid black;
    display: grid;
}

div.display{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px;
    margin-left: auto;
    grid-column: 1/5;
    font-size: 75px;
}

button, button#positiveNegative{
    background-color: white;
    color: black;
    font-size: 40px;
}

button.number, button#decimal{
    background-color: black;
    color: white;
    outline: 1px solid black;
}

button.clear{
    background-color: orange;
}

button#zero{
    grid-column: 1/3;
}

button.active{
    background-color: rgb(192, 189, 189);
    color: black;
}